body{
    height: 100vh; 
}

.div_height{
    height: 100%; 
}

.header_link{
    text-decoration: none;
    color: #525454;
    font-size: 18px;
}

.footer_link{
    text-decoration: none;
    color: #787979;
    font-size: 14px;
}

.red_small_text{
    color: red;
    font-size: 26px;
}

.medium_text{
    font-size: 21px;
}

.form-group label{
    font-size: 18px;
}

.input_field{
    height: 40px;
    border-radius: 0 ;
}

.small_text{
    font-size: 16px;
}

.img_size{
    width: 410px ;
}

.input_field_size{
    width:700px ;
    font-size: 25px ;
}

.button_font_size{
    font-size: 25px ;
}

.img_link_size{
    width:110px;
}