.header_link{
    text-decoration: none;
    color: #525454;
    font-size: x-small;
}

.footer_link{
    text-decoration: none;
    color: #787979;
    font-size: 14px;
}

.footer{
    position:fixed;
    bottom:0;
    width:100%;
}

.red_small_text{
    color: red;
    font-size: 26px;
}

.medium_text{
    font-size: 21px;
}

.form-group label{
    font-size: 18px;
}

.input_field{
    height: 40px;
    border-radius: 0 !important;
}

.small_text{
    font-size: 16px;
}